/* General styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  h4{
    color:dodgerblue;
    text-decoration-line: underline;
  }
  h1, h2, h3 {
    margin: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header styles */
  
  header {
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-weight: bold;
  }
  
  /* Main styles */
  
  main {
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    width: 200px;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Media queries */
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .heading{
    color: #555;
  }